<div class="personal-info">
  <img src="images/avatar.jpg" class="avatar"/>
  <h1 class="name">Dimitris Stefanidis</h1>
</div>

<ul>
  <li class="messages">Messages</li>
  <li class="mentions">Mentions</li>
  <li class="lists">Lists</li>
  <li class="selected profile">Profile</li>
</ul>

<footer>
  <a class="email-button"></a> 
</footer>